USE [master]
GO
/****** Object:  Database [Trado]    Script Date: 10/12/2023 1:16:39 PM ******/
CREATE DATABASE [Trado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Trado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Trado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trado]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 10/12/2023 1:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[hobby] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[getrecord]    Script Date: 10/12/2023 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getrecord]
as
begin
select * from Record
end
GO
/****** Object:  StoredProcedure [dbo].[insertrecord]    Script Date: 10/12/2023 1:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertrecord]
@name varchar(50),
@gender varchar(50),
@hobby varchar(50)
as
begin
insert into Record values(@name,@gender,@hobby)
end
GO
USE [master]
GO
